

.weather-card-container {
  padding: 16px;
  background-color: #3B1AAB;
  color: white;
  border-radius: 5px;
  box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
  min-width: 500px;
}

.weather-card-container > span {
  font-size: 13px;
  float: right;
  margin-right: 24px;
}

.info-card {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  flex: 1;
  margin: 8px;
}

.info-card  h1 {
  font-size: 48px;
  margin-bottom: 0;
}

.info-card span {
  font-family: GloberSemiBold;
}